.GameArea {
    background-color: #282c34;
    color: white;
}

.GameArea-putMap {
  position: relative;
}

.GameArea-putMap table {
  margin: auto;
}

.GameArea-putMap td:hover {
  background-color: rgba(255,255,0,.5);
  cursor: pointer;
}

.GameArea-pieceArea {
  text-align: center;
}

.GameArea-pieceArea .pieceArea {
  display: inline-block;
  /*width: 30%;*/
  /*height: 0px;*/
  /*padding-top: 30%;*/
  width: 150px;
  height: 150px;
  border: 1px solid white;
  line-height: 150px;
}

.GameArea-pieceArea .pieceArea td {
  box-shadow: initial;
  border: 1px solid #282c34;
}
