.App-header img {
  opacity: .3;
}
.App-header p,
.App-header a {
  display: none;
}

.GameArea {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
}

.GameArea-putMap {
  position: relative;
}

.GameArea-putMap table {
  margin: auto;
}

.GameArea-putMap td:hover {
  background-color: rgba(255,255,0,.5);
  cursor: pointer;
}

.GameArea-pieceArea {
  text-align: center;
}

.GameArea-pieceArea .pieceArea {
  display: inline-block;
  /*width: 30%;*/
  /*height: 0px;*/
  /*padding-top: 30%;*/
  width: 150px;
  height: 150px;
  border: 1px solid white;
  line-height: 150px;
}

.GameArea-pieceArea .pieceArea[data-is_selecting="true"] {
  border: 1px solid yellow;
}

.GameArea-pieceArea .pieceArea td {
  box-shadow: initial;
  border: 1px solid #282c34;
}
